
<div class="container mt20" >
    <h1 class="md20">Employee List</h1>
<table class="table table-success" >
   
    <thead >
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Id
            </th>
            <th>
                Id
            </th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.id}}</td>
        </tr>
    </tbody>
</table>
</div>
